.header {
    border-bottom: 1px solid black;
    display: inline-flex;

    width: 100%;
    border: 1px rgb(223, 223, 223) solid;
    
    justify-content: space-around;
    align-items: center;
    
}

.blue {
    color: #2A52BE;
}